html{
	font-family: 'Titillium Web', sans-serif
}
p{
	font-family: 'Titillium Web', sans-serif
}
.nav-bar{
	display: inline-block;
	background-color: #b4f1ff;
	font-family: 'Titillium Web', sans-serif;
}
.gg-logo{
	width: 70px;
	display: block;
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}
.nav-logo{
	width: 50px;
}
.title{
	float: left;	
}

.categories{
	color: black;
	text-align: center;
	float: right;
	list-style-type: none;
}

.categories li{
	display: inline-block;
	padding: 5px;
	margin-left: 5px;
}

.inactive{
	/* Overrides display block on @media */
	display: none !important;
}

@media screen and (max-width: 640px) {
	.responsive-small-screens {display: block;}
	
  }



  @media screen and (min-width: 641px) {
	.responsive-small-screens {display: none;}
	
  }